# Basic data structures in pandas

In [3]:
import pandas as pd
import numpy as np

Pandas provides two types of classes for handling data:

# Series: 
    A one-dimensional labeled array holding data of any type such as integers, strings, Python objects etc.

# DataFrame:
    A two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

# Object Creation

Creating a Series by passing a list of values, letting pandas create a default RangeIndex.

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a NumPy array with a datetime index using date_range() and labeled columns:

In [6]:
dates = pd.date_range("20240824",periods=8)

In [7]:
dates

DatetimeIndex(['2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27',
               '2024-08-28', '2024-08-29', '2024-08-30', '2024-08-31'],
              dtype='datetime64[ns]', freq='D')

In [20]:
    df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))

ValueError: Shape of passed values is (6, 4), indices imply (8, 4)

In [8]:
    df = pd.DataFrame(np.random.randn(8,4), index=dates, columns=list("ABCD"))

In [9]:
df

                   A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797
2024-08-27  0.891978 -0.717233 -0.890150  1.381870
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113

Creating a DataFrame by passing a dictionary of objects where the keys are the column labels and the values are the column values.

In [10]:
df2 = pd.DataFrame({
    "A":1.0,
})

ValueError: If using all scalar values, you must pass an index

In [11]:
df2 = pd.DataFrame({
    "A":1.0,
    "B":pd.TimeStamp("20240822"),
})

AttributeError: module 'pandas' has no attribute 'TimeStamp'

In [12]:
df2 = pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20240822"),
    "C":pd.Series(1,index=list(range(4),dtype="float32"),
    "D":np.array([3]*4, dtype="int32"),
    "F":"Foo"
})

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' on line 4 (3630114223.py, line 7)

In [13]:
df2 = pd.DataFrame({
    "A":1.0,
    "B":pd.Timestamp("20240822"),
    "C":pd.Series(1,index=list(range(4)),dtype="float32"),
    "D":np.array([3]*4, dtype="int32"),
    "F":"Foo"
})

In [27]:
df2

     A          B    C  D    F
0  1.0 2024-08-22  1.0  3  Foo
1  1.0 2024-08-22  1.0  3  Foo
2  1.0 2024-08-22  1.0  3  Foo
3  1.0 2024-08-22  1.0  3  Foo

In [14]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
F           object
dtype: object

# Viewing data

# Use DataFrame.head()  to view the top rows of frame

In [15]:
df.head

<bound method NDFrame.head of                    A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797
2024-08-27  0.891978 -0.717233 -0.890150  1.381870
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113>

In [16]:
df.head(3)

                   A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797

# Use  DataFrame.tail() to view the botoom rows of frame

In [17]:
df.tail

<bound method NDFrame.tail of                    A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797
2024-08-27  0.891978 -0.717233 -0.890150  1.381870
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113>

In [18]:
df.tail(4)

                   A         B         C         D
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113

# To Display the DataFrame.index

In [19]:
df.index

DatetimeIndex(['2024-08-24', '2024-08-25', '2024-08-26', '2024-08-27',
               '2024-08-28', '2024-08-29', '2024-08-30', '2024-08-31'],
              dtype='datetime64[ns]', freq='D')

# To Display the DataFrame.columns

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

# Return a NumPy representation of the underlying data with DataFrame.to_numpy() without the index or column labels:()

In [21]:
df.to_numpy()

array([[ 1.84185914e+00, -2.09502529e+00, -1.59981304e+00,
         2.90402605e-01],
       [-9.01204556e-01, -5.99627709e-02,  9.51437542e-01,
        -1.65783709e+00],
       [-6.04462763e-01,  2.52680546e+00,  1.00678947e+00,
         9.80796891e-01],
       [ 8.91978268e-01, -7.17233296e-01, -8.90149790e-01,
         1.38186984e+00],
       [ 4.91197023e-01,  1.03840194e+00, -1.11196719e+00,
        -7.64854015e-01],
       [ 6.02959145e-04, -1.18432217e+00,  1.70056618e+00,
         3.00646986e-01],
       [ 4.93169207e-01, -2.95767104e-01, -1.59224968e+00,
         1.24464489e-01],
       [ 1.06561925e+00,  1.14372986e+00,  1.78956742e+00,
         1.52211315e+00]])

# NumPy arrays have one dtype for the entire array while pandas DataFrames have one dtype per column
 When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. If the common data type is object, DataFrame.to_numpy() will require copying data.

In [22]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
F           object
dtype: object

# describe() shows a quick statistic summary of your data

In [23]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean   0.409845  0.044578  0.031773  0.272200
std    0.897765  1.471272  1.470119  1.076983
min   -0.901205 -2.095025 -1.599813 -1.657837
25%   -0.150663 -0.834006 -1.232038 -0.097865
50%    0.492183 -0.177865  0.030644  0.295525
75%    0.935389  1.064734  1.180234  1.081065
max    1.841859  2.526805  1.789567  1.522113

# Transposing your data:

In [24]:
df.T

,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29,2024-08-30,2024-08-31
A,1.841859,-0.901205,-0.604463,0.891978,0.491197,0.000603,0.493169,1.065619
B,-2.095025,-0.059963,2.526805,-0.717233,1.038402,-1.184322,-0.295767,1.143730
C,-1.599813,0.951438,1.006789,-0.890150,-1.111967,1.700566,-1.592250,1.789567
D,0.290403,-1.657837,0.980797,1.381870,-0.764854,0.300647,0.124464,1.522113

# DataFrame.sort_index() sorts by an axis:

In [25]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2024-08-24  0.290403 -1.599813 -2.095025  1.841859
2024-08-25 -1.657837  0.951438 -0.059963 -0.901205
2024-08-26  0.980797  1.006789  2.526805 -0.604463
2024-08-27  1.381870 -0.890150 -0.717233  0.891978
2024-08-28 -0.764854 -1.111967  1.038402  0.491197
2024-08-29  0.300647  1.700566 -1.184322  0.000603
2024-08-30  0.124464 -1.592250 -0.295767  0.493169
2024-08-31  1.522113  1.789567  1.143730  1.065619

# Dataframe.sort_values() sorts by values:

In [26]:
df.sort_values(by="B")

                   A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-27  0.891978 -0.717233 -0.890150  1.381870
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-31  1.065619  1.143730  1.789567  1.522113
2024-08-26 -0.604463  2.526805  1.006789  0.980797

# Selection

# Note
     standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, DataFrame.at(), DataFrame.iat(), DataFrame.loc() and DataFrame.iloc().

for more use See the indexing documentation Indexing and Selecting Data and MultiIndex / Advanced Indexing.

# Getitem ([])

For a DataFrame, passing a single label selects a columns and yields a Series equivalent to df.A:

In [27]:
df["A"]

2024-08-24    1.841859
2024-08-25   -0.901205
2024-08-26   -0.604463
2024-08-27    0.891978
2024-08-28    0.491197
2024-08-29    0.000603
2024-08-30    0.493169
2024-08-31    1.065619
Freq: D, Name: A, dtype: float64

# For a DataFrame, passing a slice : selects matching rows:

In [28]:
df[0:3]

                   A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797

In [29]:
df["2024-08-25":"2024-08-31"]

                   A         B         C         D
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797
2024-08-27  0.891978 -0.717233 -0.890150  1.381870
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113

# Selection by label

See more in Selection by Label using DataFrame.loc() or DataFrame.at().

# Selecting a row matching a label

In [30]:
df.loc(date[0])

NameError: name 'date' is not defined

In [31]:
df.loc(dates[0])

ValueError: No axis named 2024-08-24 00:00:00 for object type DataFrame

In [32]:
df.loc[dates[0]]

A    1.841859
B   -2.095025
C   -1.599813
D    0.290403
Name: 2024-08-24 00:00:00, dtype: float64

# Selecting all rows (:) with a select column labels:

In [33]:
df.loc[:, ["A","B"]]

                   A         B
2024-08-24  1.841859 -2.095025
2024-08-25 -0.901205 -0.059963
2024-08-26 -0.604463  2.526805
2024-08-27  0.891978 -0.717233
2024-08-28  0.491197  1.038402
2024-08-29  0.000603 -1.184322
2024-08-30  0.493169 -0.295767
2024-08-31  1.065619  1.143730

the : slice all row and the selecting the cloumn that we want to selecte(A,B)

In [34]:
df.loc[:, :]

                   A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797
2024-08-27  0.891978 -0.717233 -0.890150  1.381870
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113

In [35]:
df.loc[["2024-08-24", "2024-08-26	"], :]

                   A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-26 -0.604463  2.526805  1.006789  0.980797

In [36]:
df.loc[["2024-08-24", "2024-08-26"], ["C","D"]]

                   C         D
2024-08-24 -1.599813  0.290403
2024-08-26  1.006789  0.980797

# For label slicing, both endpoints are included:

In [37]:
df.loc["2024-08-24":"2024-08-28", ["A","D"]]

                   A         D
2024-08-24  1.841859  0.290403
2024-08-25 -0.901205 -1.657837
2024-08-26 -0.604463  0.980797
2024-08-27  0.891978  1.381870
2024-08-28  0.491197 -0.764854

Selecting a single row and column label returns a scalar:

In [38]:
df.loc[dates[0], "A"]

1.8418591444090773

# For getting fast access to a scalar (equivalent to the prior method):

In [39]:
df.at[dates[0], "A"]

1.8418591444090773

# Selection by position

See more in Selection by Position using DataFrame.iloc() or DataFrame.iat().

# Select via the position of the passed integers:

In [40]:
df.ioc[3]

AttributeError: 'DataFrame' object has no attribute 'ioc'

In [41]:
df.iloc[3]

A    0.891978
B   -0.717233
C   -0.890150
D    1.381870
Name: 2024-08-27 00:00:00, dtype: float64

# Integer slices acts similar to NumPy/Python:

In [42]:
df.iloc[3:5, 0:2]

                   A         B
2024-08-27  0.891978 -0.717233
2024-08-28  0.491197  1.038402

# Lists of integer position locations:

In [43]:
df.iloc[[1,2,3,4],[0,3]]

                   A         D
2024-08-25 -0.901205 -1.657837
2024-08-26 -0.604463  0.980797
2024-08-27  0.891978  1.381870
2024-08-28  0.491197 -0.764854

# For slicing rows explicitly

In [44]:
df.iloc[1:3, :]

                   A         B         C         D
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837
2024-08-26 -0.604463  2.526805  1.006789  0.980797

# For slicing columns explicitly:

In [45]:
df.iloc[:, 1:3]

                   B         C
2024-08-24 -2.095025 -1.599813
2024-08-25 -0.059963  0.951438
2024-08-26  2.526805  1.006789
2024-08-27 -0.717233 -0.890150
2024-08-28  1.038402 -1.111967
2024-08-29 -1.184322  1.700566
2024-08-30 -0.295767 -1.592250
2024-08-31  1.143730  1.789567

# For getting a value explicitly:

In [46]:
df.iloc[1,1]

-0.059962770930539894

In [47]:
df.iloc[2,3]

0.9807968913479774

In [48]:
df.iloc[1,9]

IndexError: index 9 is out of bounds for axis 0 with size 4

In [49]:
df.iloc[4,3]

-0.7648540146684618

# For getting fast access to a scalar (equivalent to the prior method):

In [50]:
df.iat[1,1]

-0.059962770930539894

# Boolean indexing

# Select rows where df.A is greater than 0.

In [51]:
df[df["A"] > 0]

                   A         B         C         D
2024-08-24  1.841859 -2.095025 -1.599813  0.290403
2024-08-27  0.891978 -0.717233 -0.890150  1.381870
2024-08-28  0.491197  1.038402 -1.111967 -0.764854
2024-08-29  0.000603 -1.184322  1.700566  0.300647
2024-08-30  0.493169 -0.295767 -1.592250  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113

# Selecting values from a DataFrame where a boolean condition is met:

In [52]:
df[df > 0]

                   A         B         C         D
2024-08-24  1.841859       NaN       NaN  0.290403
2024-08-25       NaN       NaN  0.951438       NaN
2024-08-26       NaN  2.526805  1.006789  0.980797
2024-08-27  0.891978       NaN       NaN  1.381870
2024-08-28  0.491197  1.038402       NaN       NaN
2024-08-29  0.000603       NaN  1.700566  0.300647
2024-08-30  0.493169       NaN       NaN  0.124464
2024-08-31  1.065619  1.143730  1.789567  1.522113

# Using isin() method for filtering:

In [53]:
df2 = df.copy()

In [81]:
df2["E"] = ["one", "two", "three", "foure", "five", "six", "seven"]

ValueError: Length of values (7) does not match length of index (8)

In [54]:
df2["E"] = ["Zero","one", "two", "three", "foure", "five", "six", "seven"]

In [55]:
df2

                   A         B         C         D      E
2024-08-24  1.841859 -2.095025 -1.599813  0.290403   Zero
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837    one
2024-08-26 -0.604463  2.526805  1.006789  0.980797    two
2024-08-27  0.891978 -0.717233 -0.890150  1.381870  three
2024-08-28  0.491197  1.038402 -1.111967 -0.764854  foure
2024-08-29  0.000603 -1.184322  1.700566  0.300647   five
2024-08-30  0.493169 -0.295767 -1.592250  0.124464    six
2024-08-31  1.065619  1.143730  1.789567  1.522113  seven

In [56]:
df2[df2["E"].isin(["two", "six"])]

                   A         B         C         D    E
2024-08-26 -0.604463  2.526805  1.006789  0.980797  two
2024-08-30  0.493169 -0.295767 -1.592250  0.124464  six

# Setting

# Setting a new coloum automaticaly aligns the dara by the indexes

In [57]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range("20240828", periods=6 ))

In [58]:
s1

2024-08-28    1
2024-08-29    2
2024-08-30    3
2024-08-31    4
2024-09-01    5
2024-09-02    6
Freq: D, dtype: int64

In [59]:
df["f"]  = s1

In [60]:
df

                   A         B         C         D    f
2024-08-24  1.841859 -2.095025 -1.599813  0.290403  NaN
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837  NaN
2024-08-26 -0.604463  2.526805  1.006789  0.980797  NaN
2024-08-27  0.891978 -0.717233 -0.890150  1.381870  NaN
2024-08-28  0.491197  1.038402 -1.111967 -0.764854  1.0
2024-08-29  0.000603 -1.184322  1.700566  0.300647  2.0
2024-08-30  0.493169 -0.295767 -1.592250  0.124464  3.0
2024-08-31  1.065619  1.143730  1.789567  1.522113  4.0

# Setting values by label:

In [61]:
df.at[dates[0], "A"] = 0

In [62]:
df

                   A         B         C         D    f
2024-08-24  0.000000 -2.095025 -1.599813  0.290403  NaN
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837  NaN
2024-08-26 -0.604463  2.526805  1.006789  0.980797  NaN
2024-08-27  0.891978 -0.717233 -0.890150  1.381870  NaN
2024-08-28  0.491197  1.038402 -1.111967 -0.764854  1.0
2024-08-29  0.000603 -1.184322  1.700566  0.300647  2.0
2024-08-30  0.493169 -0.295767 -1.592250  0.124464  3.0
2024-08-31  1.065619  1.143730  1.789567  1.522113  4.0

# Setting values by position:

In [63]:
df.iat[0 , 1] = 0

In [64]:
df

                   A         B         C         D    f
2024-08-24  0.000000  0.000000 -1.599813  0.290403  NaN
2024-08-25 -0.901205 -0.059963  0.951438 -1.657837  NaN
2024-08-26 -0.604463  2.526805  1.006789  0.980797  NaN
2024-08-27  0.891978 -0.717233 -0.890150  1.381870  NaN
2024-08-28  0.491197  1.038402 -1.111967 -0.764854  1.0
2024-08-29  0.000603 -1.184322  1.700566  0.300647  2.0
2024-08-30  0.493169 -0.295767 -1.592250  0.124464  3.0
2024-08-31  1.065619  1.143730  1.789567  1.522113  4.0

# Setting by assigning with a NumPy array:

In [65]:
df.loc[:, "D"]= np.array([5]*len(df))

In [66]:
df

                   A         B         C    D    f
2024-08-24  0.000000  0.000000 -1.599813  5.0  NaN
2024-08-25 -0.901205 -0.059963  0.951438  5.0  NaN
2024-08-26 -0.604463  2.526805  1.006789  5.0  NaN
2024-08-27  0.891978 -0.717233 -0.890150  5.0  NaN
2024-08-28  0.491197  1.038402 -1.111967  5.0  1.0
2024-08-29  0.000603 -1.184322  1.700566  5.0  2.0
2024-08-30  0.493169 -0.295767 -1.592250  5.0  3.0
2024-08-31  1.065619  1.143730  1.789567  5.0  4.0

# where operation with setting:

In [67]:
df2 = df.copy()

In [68]:
df2[df2>0] = -df2

In [69]:
df2

                   A         B         C    D    f
2024-08-24  0.000000  0.000000 -1.599813 -5.0  NaN
2024-08-25 -0.901205 -0.059963 -0.951438 -5.0  NaN
2024-08-26 -0.604463 -2.526805 -1.006789 -5.0  NaN
2024-08-27 -0.891978 -0.717233 -0.890150 -5.0  NaN
2024-08-28 -0.491197 -1.038402 -1.111967 -5.0 -1.0
2024-08-29 -0.000603 -1.184322 -1.700566 -5.0 -2.0
2024-08-30 -0.493169 -0.295767 -1.592250 -5.0 -3.0
2024-08-31 -1.065619 -1.143730 -1.789567 -5.0 -4.0

# -------------------------------------------------------

# Missing data

For NumPy data types, np.nan represents missing data. It is by default not included in computations. See the Missing Data section.

# Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:

In [70]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [71]:
df1

                   A         B         C    D   f   E
2024-08-24  0.000000  0.000000 -1.599813  5.0 NaN NaN
2024-08-25 -0.901205 -0.059963  0.951438  5.0 NaN NaN
2024-08-26 -0.604463  2.526805  1.006789  5.0 NaN NaN
2024-08-27  0.891978 -0.717233 -0.890150  5.0 NaN NaN

In [72]:
df1.loc[dates[0] : dates[1], "E"]=1

In [73]:
df1

                   A         B         C    D   f    E
2024-08-24  0.000000  0.000000 -1.599813  5.0 NaN  1.0
2024-08-25 -0.901205 -0.059963  0.951438  5.0 NaN  1.0
2024-08-26 -0.604463  2.526805  1.006789  5.0 NaN  NaN
2024-08-27  0.891978 -0.717233 -0.890150  5.0 NaN  NaN

# DataFrame.dropna() drops any rows that have missing data:

In [74]:
df1.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, f, E]
Index: []

# DataFrame.fillna() fills missing data:

In [75]:
df1.fillna(value=5)

                   A         B         C    D    f    E
2024-08-24  0.000000  0.000000 -1.599813  5.0  5.0  1.0
2024-08-25 -0.901205 -0.059963  0.951438  5.0  5.0  1.0
2024-08-26 -0.604463  2.526805  1.006789  5.0  5.0  5.0
2024-08-27  0.891978 -0.717233 -0.890150  5.0  5.0  5.0

# isna() gets the boolean mask where values are nan:

In [76]:
pd.isna(df1)

                A      B      C      D     f      E
2024-08-24  False  False  False  False  True  False
2024-08-25  False  False  False  False  True  False
2024-08-26  False  False  False  False  True   True
2024-08-27  False  False  False  False  True   True

# Operations

# Stats

Operations in general exclude missing data

# Calculate the mean value for each column:

In [77]:
df.mean()

A    0.179612
B    0.306456
C    0.031773
D    5.000000
f    2.500000
dtype: float64

# Calculate the mean value for each row:

In [78]:
df.mean(axis=1)

2024-08-24    0.850047
2024-08-25    1.247568
2024-08-26    1.982283
2024-08-27    1.071149
2024-08-28    1.283526
2024-08-29    1.503369
2024-08-30    1.321030
2024-08-31    2.599783
Freq: D, dtype: float64

When operating with another dataframe with diffent index and column will align result with union of the index or column lable ,in adding pandas brodcast alog the specified dimenstion and filed lable with unline labled with np.nan

In [85]:
s = pd.Series([1,3,5,np.nan,6,8,7,8], index=dates).shift(2)

In [86]:
s

2024-08-24    NaN
2024-08-25    NaN
2024-08-26    1.0
2024-08-27    3.0
2024-08-28    5.0
2024-08-29    NaN
2024-08-30    6.0
2024-08-31    8.0
Freq: D, dtype: float64

In [87]:
df.sub(s,axis="index")

                   A         B         C    D    f
2024-08-24       NaN       NaN       NaN  NaN  NaN
2024-08-25       NaN       NaN       NaN  NaN  NaN
2024-08-26 -1.604463  1.526805  0.006789  4.0  NaN
2024-08-27 -2.108022 -3.717233 -3.890150  2.0  NaN
2024-08-28 -4.508803 -3.961598 -6.111967  0.0 -4.0
2024-08-29       NaN       NaN       NaN  NaN  NaN
2024-08-30 -5.506831 -6.295767 -7.592250 -1.0 -3.0
2024-08-31 -6.934381 -6.856270 -6.210433 -3.0 -4.0

# User defined functions

# DateFrame.agg() and DateFrame.transform()  apply a user defined funtion tha reduced or braodcast it result respectively.

In [90]:
df.agg(lambda x : np.mean(x) *5.6)

A     1.005830
B     1.716156
C     0.177927
D    28.000000
f    14.000000
dtype: float64

In [92]:
df.transform(lambda x : x * 101.2 )

                     A           B           C      D      f
2024-08-24    0.000000    0.000000 -161.901079  506.0    NaN
2024-08-25  -91.201901   -6.068232   96.285479  506.0    NaN
2024-08-26  -61.171632  255.712712  101.887095  506.0    NaN
2024-08-27   90.268201  -72.584010  -90.083159  506.0    NaN
2024-08-28   49.709139  105.086276 -112.531079  506.0  101.2
2024-08-29    0.061019 -119.853404  172.097298  506.0  202.4
2024-08-30   49.908724  -29.931631 -161.135668  506.0  303.6
2024-08-31  107.840669  115.745461  181.104223  506.0  404.8

# Value Counts

In [94]:
s = pd.Series(np.random.randint(0, 7 , size=10))

In [95]:
s

0    0
1    2
2    4
3    6
4    5
5    6
6    6
7    5
8    1
9    5
dtype: int32

In [96]:
s.value_counts()

6    3
5    3
0    1
2    1
4    1
1    1
Name: count, dtype: int64

# String Methods

series has some set of methods in str attribue that will easy to operate on each and every element of array

In [99]:
s = pd.Series(["A", "B", "C", "ABC", np.nan, "cddfe", "CBA", "cba" ])

In [100]:
s

0        A
1        B
2        C
3      ABC
4      NaN
5    cddfe
6      CBA
7      cba
dtype: object

In [103]:
s.str.lower()

0        a
1        b
2        c
3      abc
4      NaN
5    cddfe
6      cba
7      cba
dtype: object

# Merge

# concat

 pandas provide facility to easly combine series datframe object wihr set of some logics the indexes and relational algebra functionality in the case of join / merge-type operations.

# Concatenating pandas objects together row-wise with concat():

In [108]:
df  = pd.DataFrame(np.random.randn(10, 4))

In [109]:
df

          0         1         2         3
0 -0.071814 -0.612279  0.322156  0.415585
1  1.231201 -0.457510  1.284668 -1.297932
2 -0.391149 -1.184092 -0.728769 -0.982916
3  1.697974  0.133883  0.036336 -0.894380
4  0.409857  0.121369  1.380200 -0.608622
5 -1.111009  0.860319  0.449106  0.669546
6 -0.249387 -1.058879 -0.867911  1.212816
7 -1.250153  0.013087 -3.108597 -0.330030
8 -0.759271  1.344320 -1.719139 -1.139743
9 -0.054863 -0.691003 -0.243311 -0.143789

In [112]:
# Breck into pices
pieces = [df[:3], df[3:7], df[7:]]

In [113]:
pieces

[          0         1         2         3
 0 -0.071814 -0.612279  0.322156  0.415585
 1  1.231201 -0.457510  1.284668 -1.297932
 2 -0.391149 -1.184092 -0.728769 -0.982916,
           0         1         2         3
 3  1.697974  0.133883  0.036336 -0.894380
 4  0.409857  0.121369  1.380200 -0.608622
 5 -1.111009  0.860319  0.449106  0.669546
 6 -0.249387 -1.058879 -0.867911  1.212816,
           0         1         2         3
 7 -1.250153  0.013087 -3.108597 -0.330030
 8 -0.759271  1.344320 -1.719139 -1.139743
 9 -0.054863 -0.691003 -0.243311 -0.143789]

In [114]:
pd.concat(pieces)

          0         1         2         3
0 -0.071814 -0.612279  0.322156  0.415585
1  1.231201 -0.457510  1.284668 -1.297932
2 -0.391149 -1.184092 -0.728769 -0.982916
3  1.697974  0.133883  0.036336 -0.894380
4  0.409857  0.121369  1.380200 -0.608622
5 -1.111009  0.860319  0.449106  0.669546
6 -0.249387 -1.058879 -0.867911  1.212816
7 -1.250153  0.013087 -3.108597 -0.330030
8 -0.759271  1.344320 -1.719139 -1.139743
9 -0.054863 -0.691003 -0.243311 -0.143789

# Note
    Adding a column to a DataFrame is relatively fast. However, adding a row requires a copy, and may be expensive and  recommend passing a pre-built list of records to the DataFrame constructor instead of building a DataFrame by iteratively appending records to it

# Join

# merge() enable sql style join types alog with specific column

In [120]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

In [121]:
left

   key  lval
0  foo     1
1  foo     2

In [122]:
right

   key  rval
0  foo     4
1  foo     5

In [123]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

# merge() on unique keys:

In [125]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})
right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

In [126]:
left

   key  lval
0  foo     1
1  bar     2

In [127]:
right

   key  rval
0  foo     4
1  bar     5

In [128]:
pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

# Grouping

By “group by” we are referring to a process involving one or more of the following steps:
    
Splitting the data into groups based on some criteria

Applying a function to each group independently

Combining the results into a data structure

In [132]:
df = pd.DataFrame(
    {
        "A" : ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "fod"],    
        "B": ["one", "two", "three", "two", "one", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8)
    }
)

In [133]:
df

     A      B         C         D
0  foo    one  0.046349  1.187331
1  bar    two -0.767999  1.439198
2  foo  three -0.361995 -0.478264
3  bar    two  1.547868  0.022889
4  foo    one -1.346767 -1.752230
5  bar    two -0.109695 -0.195742
6  foo    one  0.169742  0.551144
7  fod  three  0.338828 -0.367399

# Grouping by a column label, selecting column labels, and then applying the DataFrameGroupBy.sum() function to the resulting groups:

In [140]:
df.groupby("A")

In [141]:
df.groupby("A")[["C", "D"]]

In [142]:
df.groupby("A")[["C", "D"]].sum()

            C         D
A
bar  0.670174  1.266345
fod  0.338828 -0.367399
foo -1.492672 -0.492020

# Grouping by multiple columns label forms MultiIndex.

In [144]:
df.groupby(["A", "B"]).sum()

                  C         D
A   B
bar two    0.670174  1.266345
fod three  0.338828 -0.367399
foo one   -1.130677 -0.013756
    three -0.361995 -0.478264

In [145]:
df.groupby("A").sum()

                  B         C         D
A
bar       twotwotwo  0.670174  1.266345
fod           three  0.338828 -0.367399
foo  onethreeoneone -1.492672 -0.492020

# Reshaping

# Stack

In [172]:
arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two","one", "two", "one", "two", "one", "two" ],
]

In [173]:
arrays

[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
 ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [174]:
index = pd.MultiIndex.from_arrays(arrays, names= ["first", "second"])

In [175]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [176]:
df = pd.DataFrame(np.random.randn(8,2), index=arrays, columns=["A","B"])

In [177]:
df

                A         B
bar one  1.345208 -0.735096
    two -1.040937  0.114636
baz one  1.825886  1.005167
    two -0.802986  1.281225
foo one  2.044666  1.368549
    two -0.218142  0.183896
qux one -0.688521 -0.040270
    two -1.438696  0.628251

In [178]:
df2 = df[:4]

In [179]:
df2

                A         B
bar one  1.345208 -0.735096
    two -1.040937  0.114636
baz one  1.825886  1.005167
    two -0.802986  1.281225

# The stack() method “compresses” a level in the DataFrame’s columns:

In [181]:
staked  = df.stack()

In [182]:
staked

bar  one  A    1.345208
          B   -0.735096
     two  A   -1.040937
          B    0.114636
baz  one  A    1.825886
          B    1.005167
     two  A   -0.802986
          B    1.281225
foo  one  A    2.044666
          B    1.368549
     two  A   -0.218142
          B    0.183896
qux  one  A   -0.688521
          B   -0.040270
     two  A   -1.438696
          B    0.628251
dtype: float64

In [183]:
staked1 = df.stack(future_stack=False)

In [185]:
staked1

bar  one  A    1.345208
          B   -0.735096
     two  A   -1.040937
          B    0.114636
baz  one  A    1.825886
          B    1.005167
     two  A   -0.802986
          B    1.281225
foo  one  A    2.044666
          B    1.368549
     two  A   -0.218142
          B    0.183896
qux  one  A   -0.688521
          B   -0.040270
     two  A   -1.438696
          B    0.628251
dtype: float64

In [186]:
staked2 = df.stack(future_stack=True)

In [187]:
staked2

bar  one  A    1.345208
          B   -0.735096
     two  A   -1.040937
          B    0.114636
baz  one  A    1.825886
          B    1.005167
     two  A   -0.802986
          B    1.281225
foo  one  A    2.044666
          B    1.368549
     two  A   -0.218142
          B    0.183896
qux  one  A   -0.688521
          B   -0.040270
     two  A   -1.438696
          B    0.628251
dtype: float64

In [188]:
staked3 = df2.stack(future_stack=True)

In [189]:
staked3

bar  one  A    1.345208
          B   -0.735096
     two  A   -1.040937
          B    0.114636
baz  one  A    1.825886
          B    1.005167
     two  A   -0.802986
          B    1.281225
dtype: float64

# a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is unstack(), which by default unstacks the last level:

In [192]:
staked3.unstack()

                A         B
bar one  1.345208 -0.735096
    two -1.040937  0.114636
baz one  1.825886  1.005167
    two -0.802986  1.281225

In [193]:
staked3.unstack(0)

            bar       baz
one A  1.345208  1.825886
    B -0.735096  1.005167
two A -1.040937 -0.802986
    B  0.114636  1.281225

In [194]:
staked3.unstack(1)

            one       two
bar A  1.345208 -1.040937
    B -0.735096  0.114636
baz A  1.825886 -0.802986
    B  1.005167  1.281225

# Pivot tables

In [196]:
df = pd.DataFrame(
    {
        "A":["one", "one", "two", "three"]*3,
        "B":["A", "B", "C"]*4,
        "C":["foo", "foo", "foo", "bar", "bar", "bar"]*2,
        "D":np.random.randn(12),
        "D":np.random.randn(12)
        
    }
)

In [197]:
df

        A  B    C         D
0     one  A  foo  1.188594
1     one  B  foo  0.351129
2     two  C  foo -0.460853
3   three  A  bar -0.451653
4     one  B  bar  0.445753
5     one  C  bar -0.701167
6     two  A  foo  0.189399
7   three  B  foo -0.477153
8     one  C  foo  0.301726
9     one  A  bar  1.092810
10    two  B  bar -0.669142
11  three  C  bar -0.821645

# pivot_table() pivots a DataFrame specifying the values, index and columns

In [199]:
pd.pivot_table(df, values="D", index = ["A" ,"B"], columns=["C"])

C             bar       foo
A     B
one   A  1.092810  1.188594
      B  0.445753  0.351129
      C -0.701167  0.301726
three A -0.451653       NaN
      B       NaN -0.477153
      C -0.821645       NaN
two   A       NaN  0.189399
      B -0.669142       NaN
      C       NaN -0.460853