# DataFrame

# DataFrame is a 2 diamenetional labled data stucture with coloumn of diffrent data type.

Its like a spredsheet or sql table or dict of series of obj. The most commanly used pandas obj like Series, DataFrame aceept many kind of i/p
Dict of 1D ndarray, list, dict or series
2D numpy.ndarray 
Stucture or record ndarray
a series or another datafrane

optionally pass index(row lable), columns (column lable) arg. If you pass and index or columns it show the resulting dataframe

If axis labels are not passed, they will be constructed from the input data based on common sense rules

# From dict of Series or dicts

The resulting index will be union of the indexes of varies series. if there will be nasted dict, these will be first converted to series . If no coloumn are passed the coulmn will be the oreded list od dict.

In [19]:
import numpy as np
import pandas as pd

In [20]:
d = {
    'one': pd.Series([1.0, 2.0, 3.0], index=['a', 'b', 'c']),
    'two': pd.Series([1.0, 2.0, 3.0, 4.0], index=['a', 'b', 'c', 'd'])
}

In [21]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [22]:
df = pd.DataFrame(d)

df

In [23]:
pd.DataFrame(d, index=["d", "b" ,"A"])

   one  two
d  NaN  4.0
b  2.0  2.0
A  NaN  NaN

In [24]:
pd.DataFrame(d, index=["d", "b", "a"], columns = ["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

The row and column labels can be accessed respectively by accessing the index and columns attributes:

# Note

When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

In [25]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [26]:
df.columns

Index(['one', 'two'], dtype='object')

# From dict of ndarray / List

All ndarray must share same length, if an index passee thedn the inded six be a length array
if no array pass then then the it will take range(n)  n is length array.

In [27]:
d ={
    "one": [1.0,2.0,3.0,4.0],
    "two": [4.0,3.0,2.0,1.0],
}

In [28]:
d

{'one': [1.0, 2.0, 3.0, 4.0], 'two': [4.0, 3.0, 2.0, 1.0]}

In [29]:
pd.DataFrame(d) # lenth of index in by defaul and it range(n) , row

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [30]:
pd.DataFrame(d, index=["a","b","c","d"]) # passed index and it length is lengh of dict value

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

# From structured or record array
This case is handled identically to a dict of arrays.

In [32]:
data = np.zeros((2,) , dtype= [("A", "i4"), ("B", "f4"), ("C", "a10")] )

In [33]:
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [34]:
data [:] = [(1, 2.0, "hello"), (2 , 3.0, "world")]

In [35]:
data

array([(1, 2., b'hello'), (2, 3., b'world')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [37]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'hello'
1  2  3.0  b'world'

In [40]:
pd.DataFrame(data ,index=["First", "second"])

        A    B         C
First   1  2.0  b'hello'
second  2  3.0  b'world'

In [41]:
pd.DataFrame(data ,columns=["C","B","A"])

          C    B  A
0  b'hello'  2.0  1
1  b'world'  3.0  2

# Note
DataFrame is not intended to work exactly like a 2-dimensional NumPy ndarray.

# From a list of dicts
 i.e data = [{}, {} ]

In [46]:
data2 = [
        {"a":1, 
           "b":2
        },
         {
          "a":10,
           "b":20,
             "c":30
         }
        ]

In [47]:
data2

[{'a': 1, 'b': 2}, {'a': 10, 'b': 20, 'c': 30}]

In [50]:
pd.DataFrame[data2]

TypeError: type 'DataFrame' is not subscriptable

In [51]:
pd.DataFrame(data2)

    a   b     c
0   1   2   NaN
1  10  20  30.0

In [53]:
pd.DataFrame(data2, index=["one", "two"])

      a   b     c
one   1   2   NaN
two  10  20  30.0

In [59]:
pd.DataFrame(data2, columns=["a", "b"])

    a   b
0   1   2
1  10  20

# From dict of tuple

You can automatically create a MultiIndexed frame by passing a tuples dictionary.

In [62]:
pd.DataFrame(
    {
        ("a","b"):{("A","B"): 1, ("A", "C"): 2},
        ("a", "a"):{("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"):{("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"):{("A", "C"): 7, ("A", "B"): 8},
        ("b","b"):{("A","D"):9 , ("A", "B"): 10},
    }
)

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0