# DataFrame

# DataFrame is a 2 diamenetional labled data stucture with coloumn of diffrent data type.

Its like a spredsheet or sql table or dict of series of obj. The most commanly used pandas obj like Series, DataFrame aceept many kind of i/p
Dict of 1D ndarray, list, dict or series
2D numpy.ndarray 
Stucture or record ndarray
a series or another datafrane

optionally pass index(row lable), columns (column lable) arg. If you pass and index or columns it show the resulting dataframe

If axis labels are not passed, they will be constructed from the input data based on common sense rules

# From dict of Series or dicts

The resulting index will be union of the indexes of varies series. if there will be nasted dict, these will be first converted to series . If no coloumn are passed the coulmn will be the oreded list od dict.

In [19]:
import numpy as np
import pandas as pd

In [20]:
d = {
    'one': pd.Series([1.0, 2.0, 3.0], index=['a', 'b', 'c']),
    'two': pd.Series([1.0, 2.0, 3.0, 4.0], index=['a', 'b', 'c', 'd'])
}

In [21]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [22]:
df = pd.DataFrame(d)

df

In [23]:
pd.DataFrame(d, index=["d", "b" ,"A"])

   one  two
d  NaN  4.0
b  2.0  2.0
A  NaN  NaN

In [24]:
pd.DataFrame(d, index=["d", "b", "a"], columns = ["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

The row and column labels can be accessed respectively by accessing the index and columns attributes:

# Note

When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

In [25]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [26]:
df.columns

Index(['one', 'two'], dtype='object')

# From dict of ndarray / List

All ndarray must share same length, if an index passee thedn the inded six be a length array
if no array pass then then the it will take range(n)  n is length array.

In [27]:
d ={
    "one": [1.0,2.0,3.0,4.0],
    "two": [4.0,3.0,2.0,1.0],
}

In [28]:
d

{'one': [1.0, 2.0, 3.0, 4.0], 'two': [4.0, 3.0, 2.0, 1.0]}

In [29]:
pd.DataFrame(d) # lenth of index in by defaul and it range(n) , row

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [30]:
pd.DataFrame(d, index=["a","b","c","d"]) # passed index and it length is lengh of dict value

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

# From structured or record array
This case is handled identically to a dict of arrays.

In [32]:
data = np.zeros((2,) , dtype= [("A", "i4"), ("B", "f4"), ("C", "a10")] )

In [33]:
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [34]:
data [:] = [(1, 2.0, "hello"), (2 , 3.0, "world")]

In [35]:
data

array([(1, 2., b'hello'), (2, 3., b'world')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [37]:
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'hello'
1  2  3.0  b'world'

In [40]:
pd.DataFrame(data ,index=["First", "second"])

        A    B         C
First   1  2.0  b'hello'
second  2  3.0  b'world'

In [41]:
pd.DataFrame(data ,columns=["C","B","A"])

          C    B  A
0  b'hello'  2.0  1
1  b'world'  3.0  2

# Note
DataFrame is not intended to work exactly like a 2-dimensional NumPy ndarray.

# From a list of dicts
 i.e data = [{}, {} ]

In [46]:
data2 = [
        {"a":1, 
           "b":2
        },
         {
          "a":10,
           "b":20,
             "c":30
         }
        ]

In [47]:
data2

[{'a': 1, 'b': 2}, {'a': 10, 'b': 20, 'c': 30}]

In [50]:
pd.DataFrame[data2]

TypeError: type 'DataFrame' is not subscriptable

In [51]:
pd.DataFrame(data2)

    a   b     c
0   1   2   NaN
1  10  20  30.0

In [53]:
pd.DataFrame(data2, index=["one", "two"])

      a   b     c
one   1   2   NaN
two  10  20  30.0

In [59]:
pd.DataFrame(data2, columns=["a", "b"])

    a   b
0   1   2
1  10  20

# From dict of tuple

You can automatically create a MultiIndexed frame by passing a tuples dictionary.

pd.DataFrame(
    {
        ("a","b"):{("A","B"): 1, ("A", "C"): 2},
        ("a", "a"):{("A", "C"): 3, ("A", "B"): 4},
        ("a", "c"):{("A", "B"): 5, ("A", "C"): 6},
        ("b", "a"):{("A", "C"): 7, ("A", "B"): 8},
        ("b","b"):{("A","D"):9 , ("A", "B"): 10},
    }
)

# From a Series

The result will be a DataFrame with the same index as the input Series.and with one column whose name is the original name of the Series (only if no other column name provided).

In [64]:
ser = pd.DataFrame(range(3), index=list("abc"), name="ser")

TypeError: DataFrame.__init__() got an unexpected keyword argument 'name'

In [65]:
ser = pd.Series(range(3), index=list("abc"), name="ser")

In [66]:
pd.DataFrame(ser)

   ser
a    0
b    1
c    2

# From a list of namedtuples

The field names of the first namedtuple in the list determine the columns of the DataFrame.

The remaining namedtuples (or tuples) are simply unpacked and their values are fed into the rows of the DataFrame.

If any of those tuples is shorter than the first namedtuple then the later columns in the corresponding row are marked as missing values.

If any are longer than the first namedtuple, a ValueError is raised.

In [69]:
from collections import namedtuple

In [70]:
namedtuple

In [84]:
point = namedtuple("Point", "x y")

In [85]:
point

__main__.Point

In [73]:
pd.DataFrame([point(0,0),point(0,3), (2,3)])

   x  y
0  0  0
1  0  3
2  2  3

In [81]:
Point3D = namedtuple("point3d", "x y z")

In [82]:
Point3D

__main__.point3d

In [86]:

pd.DataFrame([Point3D(0, 0, 0), Point3D(0, 3, 5), point(2, 3)])

   x  y    z
0  0  0  0.0
1  0  3  5.0
2  2  3  NaN

# From a list of dataclasses

DataClases introduced in PEP557 , can be passed into datafram constuctor

Passing a list of data classes in eqaul to passing a list of dictonary

its needed that all values in the list should be dataclasses

 mixing types in the list would result in a TypeError.

In [91]:
from dataclasses import make_dataclass

In [92]:
make_dataclass

<function dataclasses.make_dataclass(cls_name, fields, *, bases=(), namespace=None, init=True, repr=True, eq=True, order=False, unsafe_hash=False, frozen=False, match_args=True, kw_only=False, slots=False, weakref_slot=False, module=None)>

In [93]:
Point = make_dataclass("Point", [("x", int), ("y", int)])

In [94]:
Point

__main__.Point

In [95]:
pd.DataFrame(Point(0,0) , Point(0,3), Point(2,3))

TypeError: Index(...) must be called with a collection of some kind, Point(x=0, y=3) was passed

In [97]:
pd.DataFrame([Point(0,0) , Point(0,3), Point(2,3)])

   x  y
0  0  0
1  0  3
2  2  3

# Missing data

To construct a DataFrame with missing data, we use np.nan to represent missing values. Alternatively, you may pass a numpy.MaskedArray as the data argument to the DataFrame constructor, and its masked entries will be considered missing