# DataFrame

# DataFrame is a 2 diamenetional labled data stucture with coloumn of diffrent data type.

Its like a spredsheet or sql table or dict of series of obj. The most commanly used pandas obj like Series, DataFrame aceept many kind of i/p
Dict of 1D ndarray, list, dict or series
2D numpy.ndarray 
Stucture or record ndarray
a series or another datafrane

optionally pass index(row lable), columns (column lable) arg. If you pass and index or columns it show the resulting dataframe

If axis labels are not passed, they will be constructed from the input data based on common sense rules

# From dict of Series or dicts

The resulting index will be union of the indexes of varies series. if there will be nasted dict, these will be first converted to series . If no coloumn are passed the coulmn will be the oreded list od dict.

In [5]:
import numpy as np
import pandas as pd

In [6]:
d = {
    'one': pd.Series([1.0, 2.0, 3.0], index=['a', 'b', 'c']),
    'two': pd.Series([1.0, 2.0, 3.0, 4.0], index=['a', 'b', 'c', 'd'])
}

In [7]:
d

{'one': a    1.0
 b    2.0
 c    3.0
 dtype: float64,
 'two': a    1.0
 b    2.0
 c    3.0
 d    4.0
 dtype: float64}

In [8]:
df = pd.DataFrame(d)

df

In [9]:
pd.DataFrame(d, index=["d", "b" ,"A"])

   one  two
d  NaN  4.0
b  2.0  2.0
A  NaN  NaN

In [10]:
pd.DataFrame(d, index=["d", "b", "a"], columns = ["two", "three"])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

The row and column labels can be accessed respectively by accessing the index and columns attributes:

# Note

When a particular set of columns is passed along with a dict of data, the passed columns override the keys in the dict.

In [11]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
df.columns

Index(['one', 'two'], dtype='object')

# From dict of ndarray / List

All ndarray must share same length, if an index passee thedn the inded six be a length array
if no array pass then then the it will take range(n)  n is length array.

In [13]:
d ={
    "one": [1.0,2.0,3.0,4.0],
    "two": [4.0,3.0,2.0,1.0],
}

In [14]:
d

{'one': [1.0, 2.0, 3.0, 4.0], 'two': [4.0, 3.0, 2.0, 1.0]}

In [16]:
pd.DataFrame(d) # lenth of index in by defaul and it range(n) , row

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [18]:
pd.DataFrame(d, index=["a","b","c","d"]) # passed index and it length is lengh of dict value

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0